* {
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header ul {
    display: flex;
    justify-content: end;
    list-style-type: none;
    gap: 25px;
}

header, footer {
    background-color: #121a44;
    padding: 20px;
    color: #ecf1a6;
}

.header-resume {
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: #ecf1a6;
}

header a:hover {
    color: #d8e619;
}

header a:active {
    color: #8e9711;
}

main {
    margin: 0px 15%;
    padding: 40px;
    flex: 1;
}

h1 {
    font-size: 40px;
    margin-bottom: 15px;
}
 h2, h2 {
    margin-bottom: 10px;
 }
 article p {
    margin-bottom: 25px;
    font-size: 1.15em;
 }

 hr {
    margin-top: 10px;
    margin-bottom: 10px;
 }

 .education h3 {
    padding-bottom: 5px;
 }
.education h4 {
    font-weight: normal;
}

.experience ul, .education ul {
    list-style-type: circle;
    padding: 20px;
}

.experience li, .education li {
    padding: 5px;
}

.experience h4 {
    padding-top: 5px;
    font-style: italic;
    font-weight: normal;
}

.skills {
    padding-top: 20px;
    padding-bottom: 20px;
}

.skills h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

.skills table {
    margin-bottom: 20px;
}

.skills a {
    color: black;
}

.skills a:hover {
    color: gray;
}

.skills a:visited {
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f0dbd6;
}

tr:hover {
    background-color: #edf0fc;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #8697ed;
    color: #ecf1a6;
}
table caption {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: start;
}



footer p {
    text-align: end;
}

.cover-letter-main section > p {
    padding-bottom: 30px;
    font-size: 1.25em;
    line-height: 1.35;
}

.cover-letter-main  hr {
    margin: 30px 0px;
}

.cover-letter-main > h1 {
    margin-bottom: 50px;
}

/* label {
    display: inline-block;
    width: 190px;
    
}

.radio label {
    width: 40px;
} */

.main-career-goals {
    margin: 0px 5%;
    display: flex;
    gap: 40px;
    align-items: space-between;
}


.credit {
    font-variant: small-caps;
}

.goals > p {
    font-size: 1.15em;
    line-height: 1.35;
    padding-bottom: 30px;
}

.left-side h1, hr {
    margin-bottom: 40px;
}


label {
    display: block;
}

.radio input[type=radio], label {
    display: inline-block;
}

input[type=text], input[type=email], input[type=tel], select, textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

fieldset {
    border: none;
    padding: 5px 0px;
}

form {
    background-color: #f0dbd6;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
}

button[type=submit] {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #8697ed;
    color: #ecf1a6;
    font-size: 1.25em;
    font-weight: bold;

}

img {
    width: 450px;
    margin: 8px 0;
    
}

/* video {
    width: 100%;
} */